# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Debug files
*.log
*.sql

# Wordpress standard files
uploads
upgrade

# Wordpress plugin folders
plugins/wpforms-lite
plugins/woocommerce-services
plugins/woocommerce-payments
plugins/woo-gutenberg-products-block

#SRC files
node_modules