:root {
    --color-white: #fff;
    --color-black: #000;
    --color-teal: #00B2A5;
    --color-blue: #00A5D7;
    --color-gray: #D1D1D1;

    --font-page-title: 62px;
    --font-large: 42px;
    --font-medium: 30px;
    --font-mild: 24px;
    --font-small: 18px;
    --font-xsmall: 16px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: "Chivo"!important;
}
h1 {font-size: var(--font-page-title);}
h2 {font-size: var(--font-large);}
h3 {font-size: var(--font-medium);}
h4 {font-size: var(--font-mild);}
h5 {font-size: var(--font-small);}
h6 {font-size: var(--font-xsmall);}

body {
    background-color: #F5EEDC;
}

/* Page Title */
.entry-title {
    font-size: var(--font-page-title);
    margin-top: 50px;
}

/*Content Width*/
.entry-content > *:not(.alignfull), .entry-header {
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
}

.alignfull {
    width: 100%;
}

.alignwide {
    max-width: 1190px;
}

/* Quote Blocks */
blockquote {
    border-left-width: 0 !important;
}
.wp-block-quote {
    font-size: var(--font-mild);
    background-repeat: no-repeat;
    width: fit-content;
    max-width: 750px !important;
    text-align: right;
    padding-left: 35px;
    padding-top: 1px;
}
.wp-block-quote p {
    color: var(--color-teal);
    margin-bottom: 0;
    padding-bottom: 6px;
    text-align: left;
}

/* Header */
.site-header {
    background-color: var(--color-white);
    padding: 10px 30px;
}
.site-header.white-header {
    background-color: #EFEFEF;
}
.main-navigation .menu {
    justify-content: flex-end;
    font-size: var(--font-medium);
}
.main-navigation .menu-item a {
    color: var(--color-black);
    transition: color 0.5s;
}
.main-navigation .menu-item a:hover, .main-navigation .menu-item a:focus {
    color: var(--color-teal);
}

/* Button Blocks */
.wp-block-button {
    height: 46px;
    background-color: var(--color-black);
    font-size: var(--font-mild);
    align-items: center;
    border-radius: 4px;
}
.wp-block-button__link {
    padding: 0 1em;
}
.wp-block-button:hover, .wp-block-button:hover > * {
    background-color: var(--color-teal);
}


/* Table Blocks */
.wp-block-table table {
    margin-bottom: 10px;
}
.wp-block-table th {
    font-size: var(--font-normal);
}
.wp-block-table td {
    font-size: var(--font-small);
}
.wp-block-table tbody tr:nth-child(2n), .wp-block-table thead, .wp-block-table tfoot {
	background-color: inherit;
}
.wp-block-table tbody, .wp-block-table thead, .wp-block-table tfoot {
    border-color: var(--color-gray);
}
.wp-block-table.is-style-redheader-table table, .wp-block-table.is-style-blueheader-table table {
    border-collapse: separate;
}
.wp-block-table figcaption {
    color: var(--color-gray);
}

/* Code Block */
.wp-block-code {
    margin: 5px 0 15px;
}
/* Preformatted Code Block */
.wp-block-preformatted {
    margin: 5px 0 15px;
    color: var(--color-gray);
}

/* Verse Block */
.wp-block-verse {
    margin-top: 5px 0 5px 0;
}

/* Gallery Blocks */
.wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
    background: var(--color-gray);
}

/* Audio */
.wp-block-audio figcaption {
    margin-top: 0;
}

/* Cover Block */
.wp-block-cover {
    min-height: 220px;
}

/* File Block */
.wp-block-file {
    margin-top: 10px;
}
.wp-block-file .wp-block-file__button {
    background-color: var(--color-gray);
    border-radius: 3px;
}
.wp-block-file .wp-block-file__button:hover {
    background-color: var(--color-teal);
}

/* Media and Text Block */
.wp-block-media-text {
    margin-top: 10px 0 10px 0;
    padding: 10px 0;
    border-top: 4px solid var(--color-teal);
}
/* Video Block */
.wp-block-embed.is-type-video {
    text-align: center;
}


/* Group Blocks */
.wp-block-group:not(.wp-block-group > .wp-block-group) {
    border-top: 8px solid var(--color-gray);
    border-bottom: 8px solid var(--color-gray);
    padding: 10px 0;
}
.wp-container-6207e20aa1d00.wp-block-group {
    border-width: 0;
}

/* WPForms */
div.wpforms-container-full .wpforms-form button[type="submit"].wp-block-button {
    font-size: var(--font-medium);
    height: 46px;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 3px;
}
div.wpforms-container-full .wpforms-form button[type="submit"].wp-block-button:hover {
    background-color: var(--color-teal);
    color: var(--color-black);
}