/* 
Contents:
1. Global Variables
2. Body
3. Header
4. Content + WooCommerce
5. Front-page
6. Links
7. Left Bar Page Templates
8. Regular Posts
9. Featured Posts
10.WP_Query
11. Footer
12. WP Forms
*/

/* Global Variables */
:root {
    --color-black: #2C3333;
    --color-white: #FFFFFF;
    --color-grey: #B2B1B9;
    --color-lightgrey: #E1E8EB;
    --color-tomato: #FF6B6B;
    --color-blue: #5463FF;
    --color-secondaryblue:#0E185F;
    --color-lightblue: #CAF0F8;

    --fontsize-extra-small: 12px;
    --fontsize-small: 16px;
    --fontsize-default: 18px;
    --fontsize-regular: 20px;
    --fontsize-medium: 30px;
    --fontsize-large: 35px;
    --fontsize-extra-large: 42px;
    --fontsize-page-title: 62px;
    font-size: var(--fontsize-normal);
}

/* Body*/
body {
    font-family: "Poppins"!important;
    font-weight: 400;
    font-size: var(--fontsize-default);
    background-color: var(--color-white);
}
.site-main {
    padding-bottom: 50px;
}

/* Header */
.site-header {
    background-color: #FDF6EC;
    height: max-content;
    padding: 10px 30px;
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: 99;
}
.site-header.white-header {
    background-color: #FACF5A;
}
.main-navigation .menu {
    justify-content: flex-end;
    font-size: var(--fontsize-regular);
    font-weight: bolder;
}
.main-navigation .menu-item a {
    color: var(--color-black);
    transition: color 0.4s;
}
.main-navigation .menu-item a:hover, .main-navigation .menu-item a:focus {
    color: var(--color-blue);
}
#icon-menu {
    display: none;
}
.post .entry-header {
    margin-bottom: 40px;
}
.post .entry-content {
    margin-top: 60px;
}
.post .entry-meta {
    font-size: var(--fontsize-small);
}
.post .entry-meta a {
    color: var(--color-black);
}
.post .entry-meta a:hover {
    color: var(--color-blue);
}
.post .entry-meta span {
    margin-right: 20px;
}

/* Content + WooCommerce */
.entry-content > *:not(.woocommerce, .alignfull),
.entry-header, .entry-footer {
    max-width: 990px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 25px;
}
.entry-content > *.alignwide,
.entry-content > *.woocommerce,
.alignwide {
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
}
.entry-content > *.alignfull,
.alignfull {
    width: 100%;
}

/* Front-page  */
#lensify-front-page-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.lensify-front-page {
    grid-column: 1/-1;
    grid-row: 1/-1;
}
.lensify-front-page-banner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    max-height: 100vh;
}
.lensify-front-page-banner .lensify-banner-img {
    grid-column: 1/-1;
    grid-row: 1/-1;
    overflow-y: hidden;
}
.lensify-front-page-banner .lensify-banner-tagline {
    grid-column: 1/-1;
    grid-row: 2/-1;
    font-size: calc(1.8 * var(--fontsize-page-title));
    padding-left: 1em;
}

/* Links */
.site-main a:not(.button) {
    color: var(--color-tomato);
}
.site-main h1 a, .site-main h2 a, .site-main h3 a {
    color: var(--color-secondaryblue);
}
.wp-block-post-excerpt__more-link,
.wp-block-rss li a {
    color: var(--color-secondaryblue);
}

/* Left Bar Page Template */
.leftbar-content {
    border-left-width: 8px;
    border-left-style: solid;
    padding-left: 20px;
}
.leftbar-content.leftbar-red {
    border-color: var(--color-tomato);
}
.leftbar-content.leftbar-blue {
    border-color: var(--color-blue);
}

/* Regular Posts */
.lensify-posts-list {
    border-left: 8px solid var(--color-blue);
    padding-left: 1rem;
}
.lensify-blog-post .lensify-posts-list {
    padding-right: 2rem;
}
.lensify-posts-list.lensify-designs-list {
    border-left: 8px solid var(--color-tomato);
}
.lensify-blog-post .entry-title, 
.lensify-posts-list .entry-title {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: var(--fontsize-regular);
}
.lensify-blog-post .entry-title a, 
.lensify-posts-list .entry-title a {
    color: var(--color-black);
}
.lensify-blog-post .entry-title a:hover,
.lensify-posts-list .entry-title a:hover {
    color: var(--color-blue);
}
.lensify-blog-post .entry-meta {
    font-size: var(--fontsize-extra-small);
}
.lensify-excerpt-content p {
    margin-bottom: 0.5rem;
}
.lensify-excerpt-footer .comments-link {
    display: none;
}
.lensify-excerpt-footer span {
    font-size: var(--fontsize-extra-small);
    margin-right: 15px;
}
.lensify-posts-list > h2 {
    margin-bottom: 1.5rem;
}
.lensify-posts-list .lensify_design {
    margin-bottom: 40px;
}

/* Featured Post */
.lensify-blog-post .lensify-featured-post {
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: var(--color-black);
}
.lensify-featured-post > h2 {
    color: var(--color-white);
}
.lensify-featured-post .entry-header {
    margin-bottom: 25px;
}
.lensify-featured-post .entry-title {
    margin-top: 0;
    font-size: var(--fontsize-medium);
    color: var(--color-black);
}
.page-header.entry-header {
    padding-top: 28px;
}
.lensify-featured-post .post {
    background-color: var(--color-white);
}
.lensify-featured-post .post > *:not(.post-thumbnail) {
    margin-left: 10px;
    margin-right: 10px;
}

/* Design Sidebar (WP_Query) */
.lensify-design-sidebar {
    padding-left: 1rem;
    border-left: 8px solid var(--color-tomato);
}
.lensify-design-sidebar h2 {
    font-size: var(--fontsize-medium);
    line-height: 1.1;
    color: var(--color-white);
    margin-bottom: 0;
}
.lensify-design-sidebar .byline {
    font-size: var(--fontsize-extra-small);
    color: var(--color-white);
}
.lensify-design-sidebar .byline a {
    color: var(--color-blue);
}
.lensify-design-sidebar-post {
    display: grid;
    height: max-content;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;
    margin-bottom: 20px;
}
.lensify-design-sidebar-post img {
    grid-column: 1/-1;
    grid-row: 1/-1;
}
.lensify-design-sidebar-post .lensify-design-info {
    grid-column: 1/-1;
    grid-row: 2/-1;
    background-color: var(--color-black);
    padding: 10px;
}
.lensify-design-sidebar-post .lensify-design-info h2 a {
    color: var(--color-white);
}
.lensify-design-sidebar-post .lensify-design-info h2 a:hover {
    color: var(--color-blue);
}

/* (WP_Query) */
.lensify-entry-footer-wide {
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
.lensify-popular-designs-header {
    background-color: var(--color-blue);
    color: var(--color-white);
    margin-bottom: 30px;
    padding: 10px 20px;
}
.lensify-popular-designs-header h2,
.lensify-popular-designs-header p,
.lensify-popular-design h2 {
    margin-bottom: 0;
}
.lensify-popular-design h2 {
    font-size: var(--fontsize-medium);
}
.lensify-popular-design .byline {
    font-size: var(--fontsize-small);
}

/* Footer */
.site-footer p {
    margin-bottom: 0;
}
.lensify-footer-top {
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: var(--fontsize-small);
    padding: 20px;
    margin-bottom: 5px;
}
.lensify-footer-divider {
    min-height: 15px;
    background-color: var(--color-black);
    color: var(--color-white);
}
.site-info {
    margin: 8px 0;
    padding-left: 20px;
}
.entry-footer span {
    display: block;
}
.post-navigation, .comments-area {
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 0 25px;
}

/* WPForms */
div.wpforms-container-full .wpforms-form button[type="submit"].wp-block-button {
    height: 46px;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 3px;
    font-size: var(--fontsize-regular);
    transition: background-color 0.4s;
    /* align-items: center; */
}
div.wpforms-container-full .wpforms-form button[type="submit"].wp-block-button:hover {
    background-color: var(--color-blue);
}