/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: "Montserrat"!important;
}
h1 {font-size: var(--fontsize-extra-large);}
h2 {font-size: var(--fontsize-large);}
h3 {font-size: var(--fontsize-medium);}
h4 {font-size: var(--fontsize-default);}
h5 {font-size: var(--fontsize-normal);}
h6 {font-size: var(--fontsize-small);}

/* Page */
.entry-title {
    font-size: var(--fontsize-page-title);
    margin-top: 50px;
}

figcaption {
    text-align: center;
    font-size: var(--fontsize-extra-small);
}

/* Quote */
blockquote {
    border-left-width: 0 !important;
}
.wp-block-quote {
    background-image: url(../img/quote.svg);
    font-size: 26px;
    max-width: 750px !important;
    width: fit-content;
    text-align: right;
    padding: 2px auto auto 30px;
    background-repeat: no-repeat;
    background-position: top left;
}
.wp-block-quote p {
    border-bottom: 1px solid var(--colour-lblue);
    margin-bottom: 0;
    padding-bottom: 6px;
    text-align: left;
    color: var(--colour-lblack);
}
.wp-block-quote cite {
    font-size: 18px;
    color: var(--colour-lblack);
}
.wp-block-quote.is-style-large {
    background-image: url(../img/quote.svg);
    font-size: 42px;
}
.wp-block-quote.is-style-large {
    font-size: 30px;
}

/* Pullquote */
.wp-block-pullquote {
    background-image: url(../img/quote.svg);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 25px 0 0;
    text-align: right;
}
.wp-block-pullquote p {
    font-size: var(--fontsize-extra-large);
    margin-bottom: 0;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--colour-lblack);
    text-align: left;
}
.wp-block-pullquote cite {
    font-size: var(--fontsize-medium);
}

/* Buttons */
.wp-block-button, a.button, button.button {
    height: 46px;
    background-color: var(--colour-lblack);
    color: var(--colour-lwhite);
    padding: 0 auto;
    border-radius: 3px;
    font-size: var(--fontsize-default);
    transition: background-color 0.4s;
}
.wp-block-button__link {
    padding: 0 1em;
    transition: background-color 0.4s;
}
.wp-block-button:hover,
.wp-block-button:hover > *,
a.button:hover,
button.button:hover {
    background-color: var(--colour-lblue);
}
a.button {
    padding-top: 5px;
}

/* Code */
.wp-block-code {
    margin: 5px 0 15px;
}
/* Preformatted Code */
.wp-block-preformatted {
    margin: 5px 0 15px;
    color: var(--colour-lgrey);
}

/* Table */
.wp-block-table table {
    margin-bottom: 8px;
}
.wp-block-table th {
    font-size: var(--fontsize-regular);
}
.wp-block-table th {
    font-size: var(--fontsize-regular);
}
.wp-block-table td {
    font-size: var(--fontsize-small);
}
.wp-block-table tbody tr:nth-child(2n), .wp-block-table thead, .wp-block-table tfoot {
	background-color: inherit;
}
.wp-block-table tbody, .wp-block-table thead, .wp-block-table tfoot {
    border-color: var(--colour-lgrey);
}
.wp-block-table.is-style-tomatoheader-table table, .wp-block-table.is-style-blueheader-table table {
    border-collapse: separate;
}
.wp-block-table.is-style-tomatoheader-table td,
.wp-block-table.is-style-blueheader-table td {
    border: 1px solid var(--colour-lgrey);
}
.wp-block-table.is-style-tomatoheader-table thead th {
    background-color: var(--colour-ltomato);
    color: var(--colour-lwhite);
}
.wp-block-table.is-style-blueheader-table thead th {
    background-color: var(--colour-lblue);
}
.wp-block-table figcaption {
    color: var(--colour-lgrey);
}

/* Verse */
.wp-block-verse {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    border-left: 4px solid var(--colour-lblack);
}

/* Audio */
.wp-block-audio figcaption {
    margin-top: 0;
}

/* Video Block */
.wp-block-embed.is-type-video {
    text-align: center;
}

/* Media and Text */
.wp-block-media-text {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0;
    border-top: 4px solid var(--colour-lblack);
    border-bottom: 4px solid var(--colour-lblack);
}
.wp-block-media-text__content > * {
    margin: 0 auto 0 auto;
    height: 100%;
}
.wp-block-media-text.is-style-border-left-meditxt {
    border-width: 0;
}
.wp-block-media-text.is-style-border-left-meditxt .wp-block-media-text__content{
    border-left: 4px solid var(--colour-ltomato);
    padding-left: 10px;
    margin-left: 20px;
}

/* File */
.wp-block-file {
    margin-top: 10px;
}
.wp-block-file a:not(.wp-block-file__button){
    color: var(--colour-ltomato);
    transition: color 0.4s;
}
.wp-block-file a:not(.wp-block-file__button):hover {
    color: var(--colour-lblue);
}
.wp-block-file .wp-block-file__button {
    background-color: var(--colour-lblack);
    border-radius: 3px;
    transition: color 0.4s;
}
.wp-block-file .wp-block-file__button:hover {
    background-color: var(--colour-ltomato);
}

/* Column */
.wp-block-columns {
    margin:auto 0;
    padding-right: 30px;
}
.wp-block-column.is-style-blue-column {
    border-left: 4px solid var(--colour-lblue);
    padding-left: 10px;
}
.wp-block-column.is-style-tomato-column {
    border-left: 4px solid var(--colour-ltomato);
    padding-left: 10px;
}

/* Group */
.wp-block-group.is-style-sandwich-group-styled {
    border-top: 8px solid var(--colour-lblack);
    border-bottom: 8px solid var(--colour-lblack);
    padding: auto;
}

/* Calender */
.wp-block-calendar table th {
    background-color: var(--colour-ltomato);
    border-color: var(--colour-ltomato);
    color: var(--colour-lwhite);
}
.wp-block-calendar tbody tr:nth-child(2n) {
    background-color: inherit;
}
.wp-block-calendar tbody td.pad {
    background-color: var(--colour-lgrey);
}

/* Post Thumbnail */
.post-thumbnail {
    max-width: 1190px;
    margin: auto;
    display: block;
}

/* Social */
.wp-block-social-links {
    font-size: var(--fontsize-default);
}

/* Comments  */
.wp-block-latest-comments a {
    color: var(--colour-lblue);
}

/* Author Name Date */
.wp-block-post-author, .wp-block-post-date {
    font-size: 16px;
    color: var(--colour-lgrey);
}

/* Search */
.wp-block-search label {
    display: none;
}
.wp-block-search input {
    margin-bottom: 0;
}
.wp-block-search__button {
    padding: 0 auto;
    background-color: var(--colour-lblack);
    color: var(--colour-lwhite);
}
.wp-block-search__button:hover {
    background-color: var(--colour-ltomato);
}

